In [20]:
from pathlib import Path
import pandas as pd

In [21]:
data_dir = Path(r'../DATA')

In [22]:
cdc_places_file = data_dir / 'cdc_locations.csv'
epa_places_file = data_dir / 'epa_locations.csv'

In [23]:
cdc_places = pd.read_table(cdc_places_file, sep=',')
print(f'CDC locations loaded: {cdc_places.shape[0]} rows, {cdc_places.shape[1]} cols')
epa_places = pd.read_table(epa_places_file, sep=',')
print(f'EPA locations loaded: {epa_places.shape[0]} rows, {epa_places.shape[1]} cols')

CDC locations loaded: 3142 rows, 3 cols
EPA locations loaded: 525 rows, 6 cols

In [24]:
cdc_places['CDC'] = 1

In [32]:
merged_places = epa_places.merge(cdc_places, on=['STATE', 'COUNTY'], how='left')
merged_places.fillna(0, inplace=True)
print(f'merged locations loaded: {merged_places.shape[0]} rows, {merged_places.shape[1]} cols')

merged locations loaded: 525 rows, 8 cols

In [33]:
merged_places[merged_places['CDC'] == 0]

,AQS_ID,LATITUDE,LONGITUDE,STATE,COUNTY,CBSA,ABBR,CDC
10,02-090-0034,64.845690,-147.727413,Alaska,Fairbanks North Star,"Fairbanks, AK",0,0.0
169,17-163-0010,38.612034,-90.160477,Illinois,Saint Clair,"St. Louis, MO-IL",0,0.0
264,27-137-7550,46.818260,-92.089360,Minnesota,Saint Louis,"Duluth, MN-WI",0,0.0
318,35-013-0021,31.796218,-106.584434,New Mexico,Dona Ana,"Las Cruces, NM",0,0.0
319,35-013-0022,31.787885,-106.683324,New Mexico,Dona Ana,"Las Cruces, NM",0,0.0
471,51-036-0002,37.344380,-77.259250,Virginia,Charles,"Richmond, VA",0,0.0
479,51-650-0008,37.103733,-76.387017,Virginia,Hampton City,"Virginia Beach-Norfolk-Newport News, VA-NC",0,0.0
511,72-021-0010,18.420089,-66.150615,Puerto Rico,Bayamon,"San Juan-Carolina-Caguas, PR",0,0.0

In [40]:
cdc_data_file = data_dir / 'places' / 'cdc_outcomes_data.csv'
epa_data_file = data_dir / 'epa' / 'epa_aq_data.csv'

In [42]:
cdc_data = pd.read_table(cdc_data_file, sep=',')
print(f'CDC data loaded: {cdc_data.shape[0]} rows, {cdc_data.shape[1]} cols')
print(cdc_data.columns)
epa_data = pd.read_table(epa_data_file, sep=',')
print(f'EPA data loaded: {epa_data.shape[0]} rows, {epa_data.shape[1]} cols')
print(epa_data.columns)

CDC data loaded: 6284 rows, 18 cols
Index(['ABBR', 'year', 'COUNTY', 'CountyFIPS', 'Geolocation',
       'ARTHRITIS_AdjPrev', 'BPHIGH_AdjPrev', 'CANCER_AdjPrev',
       'CASTHMA_AdjPrev', 'CHD_AdjPrev', 'COPD_AdjPrev', 'DIABETES_AdjPrev',
       'HIGHCHOL_AdjPrev', 'KIDNEY_AdjPrev', 'OBESITY_AdjPrev',
       'STROKE_AdjPrev', 'TEETHLOST_AdjPrev', 'STATE'],
      dtype='object')
EPA data loaded: 262888 rows, 15 cols
Index(['AQS_ID', 'LATITUDE', 'LONGITUDE', 'COUNTY', 'STATE', 'CBSA',
       'PEOPLE_OF_COLOR_FRACTION', 'LOW_INCOME_FRACTION',
       'LINGUISTICALLY_ISOLATED_FRACTION', 'LESS_THAN_HS_ED_FRACTION', 'DATE',
       'PM25_UG_PER_CUBIC_METER', 'OZONE_PPM', 'year', 'month'],
      dtype='object')